{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-10 col-sm-4 col-xs-6">
            <a href="/create/"><div class="btn btn-lg btn-primary">Create task</div></a>
        </div>
    </div>
    <hr>
    <div class="row">
    {% for task in tasks %}
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="/task/{{ task.id }}">
                            <img src="{{ task.image_path }}" class="img-responsive">
                        </a>
                    </div>
                    <div class="panel-body">
                        <p class="lead">{{ task.title }}</p>
                        <p>Status: <strong>{{ task.status }}</strong></p>
                        <p>Автор: <strong>{{ task.author_name }}</strong></p>
                        <p>Email: <strong>{{ task.author_email }}</strong></p>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
    <hr>
    <div class="row text-center">
        {{ pagination|raw }}
    </div>
{% endblock %}