{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-10 col-sm-4 col-xs-6">
            <a href="/create/"><div class="btn btn-lg btn-primary">Create task</div></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="well">
            <form id="search-form" class="form">
                <h4>Search</h4>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" id="search-keyword" value="{{ saved_data.search_string }}" class="form-control input-lg" placeholder="Enter keyword">
                    </div>


                    <div class="col-md-2">
                        <select id="order_by" name="order_by" class="form-control input-lg">
                            <option value="id" {% if saved_data.order_by == 'id' %} selected {% endif %}>Order by id</option>
                            <option value="status" {% if saved_data.order_by == 'status' %} selected {% endif %}>Order by status</option>
                            <option value="author_name" {% if saved_data.order_by== 'author_name' %} selected {% endif %}>Order by name</option>
                            <option value="email" {% if saved_data.order_by == 'email' %} selected {% endif %}>Order by email</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <select id="search_by" name="search_by" class="form-control input-lg">
                            <option value="status" {% if saved_data.search_by == 'status' %} selected {% endif %}>Search by status</option>
                            <option value="author_name" {% if saved_data.search_by == 'author_name' %} selected {% endif %}>Search by name</option>
                            <option value="email" {% if saved_data.search_by == 'email' %} selected {% endif %}>Search by email</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <span class="input-group-btn">
                            <button id="search-button" class="btn btn-lg btn-primary" type="button">
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
    {% for task in tasks %}
            <div class="col-sm-4 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a href="/task/{{ task.id }}">
                            <img src="{{ task.image_path }}" class="img-responsive">
                        </a>
                    </div>
                    <div class="panel-body">
                        <p class="lead">{{ task.title }}</p>
                        <p>Status: <strong>{{ task.status }}</strong></p>
                        <p>Автор: <strong>{{ task.author_name }}</strong></p>
                        <p>Email: <strong>{{ task.author_email }}</strong></p>

                        {% if is_logged_in %}
                            <a href="/edit-task/{{ task.id }}">Edit task</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
    <hr>
    <div class="row text-center">
        {{ pagination|raw }}
    </div>

    <div id="init_params"
        data-page="{{ saved_data.page }}"
        data-order_by="{{ saved_data.order_by }}"
        data-search_by="{{ saved_data.search_by }}"
        data-search_string="{{ saved_data.search_string }}"
    ></div>

    <script src="/assets/pages/tasks_list.js?v20170808215400"></script>
{% endblock %}
